*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
body{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.link{
  font-size: 2rem;
  width: 100vw;
  text-align: center;
}
nav{
  width: 100%;
  min-height: 50px;
  background: #bfe3ff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav a{
  min-width: 10px;
  min-height: 10px;
  padding: 1em;
  font-size: 1.5em;
  color: #000000;
}
nav a:hover{
  background-color: #356b7a;
  color: #e4e4e4;
}
main{
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0 2% 0 2%;
}
.item{
  width: 50%;
  min-height: 400px;
  background-color: #8286f5;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: inset 1px 1px 20px 0px rgb(46, 46, 46);
  border-radius: 20px;

}
.grafika1{
  background-image: url("img/stories.jpg");
}
.item h2{
  text-align: center;
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 2em;
  padding: 1em;
  background-color: rgba(6, 6, 6, 0.9);

}
h1, h2, h3{
  font-size: 200%;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 2% 0 2% 0;
}
img{
  width: 100%;
}
.obvodka{
  margin: 2em 0 2em 0;
  box-shadow: 1px 1px 20px 0px rgb(110, 110, 110);
}
.box{
  width: 49%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.box + .box{
  margin-left: 1em;
}
p{
  font-size: 150%;
}
.teneva{
  width: 100%;
  min-height: 10px;
  background-color: rgb(221, 221, 221);
  padding: 2% 2% 2% 4%;
  border-radius: 20px;
  margin: 2% 0 2% 0;
}
.teneva ol li{
  font-size: 170%;
}
.teneva ol li p{
  font-size: 20px;
  color: #686868;
}
section{
  width: 100%;
  min-height: 10px;
}
li{
  all: unset; /*reset для всех браузеров*/
}
/* меню */
.section_menu .nav{
  width: 100%;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
}
/* настройки для не нумеровоного списка */
.section_menu .nav .ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* настройки для самих ссылок */
.section_menu .nav .ul .li .a{
  min-width: 1px;
  min-height: 1px;
  color: #ffffff;
  padding: 0 10px 0 10px;
  background-color: rgb(0, 0, 0);
  font-size: 150%;
}
.code{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.htmlk{
  padding: 0 20px ;
  min-width: 50%;
  min-height: 100px;
  background-color: #321b1b;
  border-radius: 10px;
}
.htmlk + .htmlk, .section_menu + .code{
  margin-top: 3%;
}
pre code{
  font-size: 20px;
  color: #fffb9f;
  font-weight: 700;
}
/* второе меню */
.nav2{
  width: 100%;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
}
/* настройки для не нумеровоного списка */
.nav2 .ul2{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* настройки для самих ссылок */
.nav2 .ul2 .li2 .a2{
  min-width: 1px;
  min-height: 1px;
  color: #ffffff;
  padding: 0 10px 0 10px;
  background-color: rgb(0, 0, 0);
  font-size: 150%;
}
/*Добавляем отступы к элиментам*/
.nav2 .li2 {
  border-right: 10px solid #f20000;
}
/*Убираем с последнего ненужный отступ*/
.nav2 .li2:last-child {
  border-right: none;
}
.panel{
  width: 100%;
  height: 20px;
  padding: 5px 0;
  display: flex;
}
.circle1{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f04747;
}
.circle2{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e4f14d;
  margin: 0 5px;
}
.circle3{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #39fb69;
}
